.gmailform{
 margin-top: 5%;
 margin-left: 35%;
margin-right: 35%;
margin-bottom:auto;
/* background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); */

}
.gmail{
  margin-left: 35%;
  margin-top: 0%;
  margin-right: 35%;
  width: 300px;
  height: 300px;
  
}
.sign{
  
  margin-top: 2%;
  margin-left: 42%;
  margin-right: 48%;
  font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: #C5C1FF;
}
.divclass{
  background: rgb(177,174,238);
background: radial-gradient(circle, rgba(177,174,238,0.4724483543417367) 21%, rgba(233,220,148,0.1503195028011205) 95%);
}